---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TabsComponent from "@components/navbar/tab";
import AnimatedBackground from "./cbx";
---

<Layout
  title="CBX - Características y especificaciones."
  description="CBX - Calentador Eléctrico de Agua sin Tanque. Agua Caliente sin límite. Ahorro de espacio. Ahorro de Energía. Agua caliente instantánea">
  <Container>
    <AnimatedBackground client:load />
    <Sectionhead>
      <h1
        slot="title"
        class="font-bold text-2xl lg:text-4xl text-black flex justify-center items-center">
        CBX
      </h1>
      <h1
        slot="desc"
        class="font-bold text-xl lg:text-2xl text-gray-800 flex justify-center items-center">
        <a href="/aliados">
          Para comenzar a disfrutar de agua caliente sin límite, visite a
          nuestros aliados.
        </a>
      </h1>
    </Sectionhead>

    <TabsComponent client:load product="cbx" />
  </Container>
</Layout>
