---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TabsComponent from "@components/navbar/tab";
import AnimatedBackground from "./termotronic";
---

<Layout title="Termotronic" description="Termotronic - Calentadores de agua sin tanque - Con más de 30 años en el mercado">
  <Container>
    <AnimatedBackground client:load />
    <Sectionhead>
      <h1
        slot="title"
        class="font-bold text-2xl lg:text-4xl text-black flex justify-center items-center">
        Termotronic
      </h1>
      <h1
        slot="desc"    class="font-bold text-xl lg:text-2xl text-gray-800 flex justify-center items-center">
        <a slot="desc" class="font-bold text-xl lg:text-2xl flex justify-center items-center text-gray-800" href="/aliados">Para comenzar a disfrutar de agua caliente sin límite, visite a nuestros aliados.</a>
      </h1>
    
    </Sectionhead>

    <TabsComponent client:load product="termotronic" />
  </Container>
</Layout>
