---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Cta from "@components/cta.astro";
import Contact from "@components/contact.astro";
---

<Layout
  title="Tiendas Termotronic y CBX - Compra tu equipo aquí"
  description="Precios de Termotronic y CBX - Calentador Eléctrico de Agua sin Tanque. Agua Caliente sin límite. Ahorro de espacio. Ahorro de Energía. Agua caliente instantánea">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1 class="text-4xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Distribuidores Termotronic y CBX
      </h1>
    </div>

    <div class="mx-auto prose prose-lg mt-12 max-w-3xl">
      <h2>CARACAS</h2>
      <div class="flex flex-row space-x-4">
        <div>
          <h4>Comercializadora JAB</h4>
          Av Ppal de Los Ruices, Edificio Centro Corporativo Los Ruices
          <br />
          PB Local 02, Urb Los Ruices,Caracas
          <br />
          0212-2326160 / 0424-2524095
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
          <a href="https://www.instagram.com/somosjab/" target="_blank">
            <Icon class="h-6 text-pink-500" name="simple-icons:instagram" />
          </a>
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div>
          <h4>Distribuidora TermoCenter</h4>
          C.C. Santa Fe, Piso 3 Local C3-27 Santa Fe Norte <br />
          Caracas
          <br />
          Tlf: +58 414 778 4090
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
          <a href="https://www.instagram.com/termocenter.ve" target="_blank">
            <Icon class="h-6 text-pink-500" name="simple-icons:instagram" />
          </a>
        </div>
      </div>
      <h4>Distribuidora TermoCenter</h4>
      Av Paez El Paraiso, Caracas
      <br />
      0414-778.4090
      <br />
      <h4>ANTONIO GUZZO,C.A</h4>
      AV LAS PALMAS DE BOLEITA SUR,EDIFICIO GUFRANSA,PB - Caracas
      <br />
      414-9040979
      <br />
      <h4>FERRECALENTADOR LA CARLOTA</h4>
      Av. Principal de Campo Claro Edif. San Antonio PB local A. - Caracas
      <br />
      04128245611/ 0212 2378916
      <br />
      <h4>JVG</h4>
      AV SUCRE ENTRE 8ª Y 9ª TRANSVERSAL CASA Nº 72 URB LOS DOS CAMINOS - Caracas
      <br />
      04141810588
      <br />
      <h4>TRAZOS DEL COLOR</h4>
      CALLE EL RECREO EDIF 8 PISO PB LOCAL 8-A URB EL RECREO - Caracas
      <br />
      0414-2391331
      <br />
      <h4>DISTRIBUIDORA MARACANA</h4>
      ESQ DE ALCABALA A PELIGRO LOCAL NRO 3 URB LA CANDELARIA - Caracas
      <br />
      424-1197351
      <br />
      <h4>SERTALUZ</h4>
      AV JUAN BAUTISTA ARISMENDI EDIFICIO SOREL LA FLORIDA - Caracas
      <br />
      0212 7309918/ 7301875 0424-1678039
      <br />
      <h4>DISTRIBUIDORA AAC 2012</h4>
      AV NUEVA GRANADA CON CALLE BRANGER LOCAL NRO 10-19 - Caracas
      <br />
      0212/6310064
      <br />
      <h4>DECOGRIFOS CARACAS</h4>
      C.C TERRAS PLAZA NIVEL C2 Terrazas del Club Hípico - Caracas
      <br />
      0424-3734434
      <br />
      <h4>CORPORACION TRUEIMPORT</h4>
      AV LAS PALMAS,CALLE RIO DE JANEIRO EDIF LOS GRANADOS LA FLORIDA - Caracas
      <br />
      0424-1258951
      <br />
      <h4>COMERCIAL FERRETEANDO</h4>
      AV GARCI GONZALEZ,EDIFICIO FERRETEANDO LA YAGUARA - Caracas
      <br />
      412-3710005
      <br />
      <h4>CERAMICAS RUSTI ESTRELLA</h4>
      AV AVILA QTA. TREBOL PT13 SAN BERNARDINO - Caracas
      <br />
      412-9380248/0412-2023970
      <br />
      <h4>DIPLOELCA, C.A</h4>
      Av. Rómulo Gallegos con calle Chacao, Qta. Carmen - Caracas
      <br />
      PB, Urb. Horizonte, Caracas
      <br />
      0212-234.0386 / 238.0702
      <br />
      <h4>Materiales Brasil</h4>
      Esq. Saparados. La Candelaria. - Caracas
      <br />
      0212- 5622090 / 5625500
      <br />
      <h4>Corporacion Plomer</h4>
      Av. San Ignacio de Loyola con Calle Paez, Resd. Mediterraneo. Local 1. Chacao
      - Caracas
      <br />
      0212- 2642477 / 2641754.
      <br />
      <h4>Casa Caby, C.A</h4>
      Calle El Recreo, Edf. Nro. 6, local A,B,C. Sabana Grande. - Caracas
      <br />
      0212- 762008 / 7621037
      <h4>Abelec</h4>
      Calle Capitolio, Boleita Sur. - Caracas
      <br />
      0212- 2325302 / 2325707.
      <br />
      <h4>Distribuidora Maracana</h4>
      Alcabala a Peligro, nro3. La Candelaria. - Caracas
      <br />
      0212- 5761297
      <br />
      <h4>Ceramicas Rusti-Estrella</h4>
      Av. Avila, Qta. Trebol, nro. 13. San Bernadino. - Caracas
      <br />
      0212- 5778268 / 5764908.
      <br />
      <h4>Campi Ferreteria, c.a</h4>
      2da. Av. Con 2da. Transv. Monte Cristo - Caracas
      <br />
      Los Dos Caminos. 0212- 2384311 / 2386018.
      <br />
      <h4>Centro Ferretero El Pico, c.a</h4>
      Filas de Mariche, sector El Limoncito. - Mariche
      <br />
      0212- 5322018 / 5320551.
      <br />
      <h4>Ferreteria SDS, c.a</h4>
      Av. Panteón, Edf. San Bernardino Plaza, locales 3 y 4. La Candelaria. - Caracas
      <br />
      0212- 5501612 / 5501024.
      <br />
      <h4>Materiales Guayabal</h4>
      Av. Sta. Ana - Boleita Sur. - Caracas
      <br />
      0212- 2346102 / 2356062.
      <br />
      <h4>FERRETERIA Y BAZAR EL CILINDRO ,C.A</h4>
      AV. SAN SEBASTIAN EDIF GRAMER,PB LOCAL 2 Y 7 LA TRINIDAD - Caracas<br />
      TELÉFONO: 0424-1258951. <br />
      <h2>ANZOATEGUI</h2>
      <div class="flex flex-row space-x-4">
        <div>
          <h4>Monigas (Pto la Cruz)</h4>
          CC Vista Al Mar Calle 3 Local PB Casco Central - Lecheria
          <br />
          Pto La Cruz.
          <br />
          0424-826.5100 0281- 2688622 / 2687444.
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
        </div>
      </div>
      <h4>FERRETODO</h4>
      AV MUNICIPAL, C.C MARIO SANCHEZ, LOCAL Nº M-5 SECTOR PUEBLO NUEVO PUERTO LA
      CRUZ.
      <br />
      0424-8996114 0424-8696007/0424-8696025.
      <h4>FERRE KSA JM</h4>
      CALLE JUNCAL LOCAL Nº 18 SECTOR CENTRO PUERTO LA CRUZ
      <br />
      0414-8068629/0414-8095613
      <h4>DECOGRIFOS</h4>
      C.C EL PEÑON LOCAL E14 LECHERIA
      <br />
      0424-3734434
      <h4>MONIGAS ORIENTE</h4>
      AV COSTANERA CON AV EL EJERCITO C.C CAMINO REAL PB,LOCAL MODULO C L8 BARCELONA
      <br />
      0424-8265100/0424-8749332
      <h4>DISTRIBUIDORA FERRELUX</h4>
      AV PPAL DE LECHERIA CC CENTRO EMPRESARIAL PICOVI NIVEL PB LOCAL 2 - Lecheria
      <br />
      0414-8164732
      <h4>GRUPO CORPORATIVO LA COBRA</h4>
      CR 6 LOCAL Nº 7-16 SECTOR ROMULO GALLEGOS,LECHERIA
      <br />
      0414-7930086
      <h4>MEGA REPUESTOS CARIBE 88</h4>
      AV MUNICIPAL ENTRE CALLE SUCRE Y BUENOS AIRES EDIF IBERIA PB,LOCAL Nº 115 SECTOR
      CENTRO PTO LA CRUZ
      <br />
      0412-4314949/ 04248716681
      <h4>TU SUMINISTRO FAVORITO</h4>
      CALLE BOLIVAR, LOCAL Nº .156, SECTOR CENTRO, PUERTO LA CRUZ
      <br />
      0424-8459532
      <h4>CERAMICMANIA</h4>
      AV. INTERCOMUNAL C.C EMPRESARIAL LAS GARZAS,PB, SECTOR LAS GARZAS - LECHERIAS
      <br />
      0414-3023609
      <h4>SUMINISTROS EYLCA 6000</h4>
      C.C GOLD COUNTRY,PISO 4,LOCAL D11 BARCELONA
      <br />
      04248268689/04122585601/04164701866
      <h4>FERRETERIA COMERCIAL LA COSTANERA</h4>
      AV FABRICIO OJEDA LOCAL Nº 2 ENTRADA AL BARRIO FERNANDEZ PADILLA - Barcelona
      <br />
      0412-8696209
      <h4>LAR FERRETERO</h4>
      AV RIO QTA AVE MARIA Nº 16-1 SECTOR COLINAS DEL NEVERI, - BARCELONA
      <br />
      04148195452

      <h4>FERRE SOLAR</h4>
      AV INTERCOMUNAL LOCAL Nº 510 SECTOR SIERRA MAESTRA, POZUELOS - Barcelona
      <br />
      0424-8342540
      <h4>ZETA</h4>
      AV. FCO DE MIRANDA C/CALLE DIEZ SUR LOCAL 168 SECTOR PUEBLO NUEVO SUR - EL
      TIGRE
      <br />
      0424-9382000
      <h2>ARAGUA</h2>
      <h4>Marco Emarket, C.A</h4>
      Maracay, Estado Aragua
      <br />
      0424-3154466
      <br />
      <a href="https://www.instagram.com/termotronicve" target="_blank">
        <Icon class="h-6 text-pink-500" name="simple-icons:instagram" /></a
      >
      <div class="flex flex-row space-x-4">
        <div>
          <h4>Multibrands Latina</h4>
          Av las Delicias, Centro Empresarial Europa local PB30 PB
          <br />
          Maracay
          <br />
          Tlf: (243)241.3697 (424)409.0080 (414)496.4031
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
          <a
            href="https://www.instagram.com/multibrands_latina/"
            target="_blank">
            <Icon class="h-6 text-pink-500" name="simple-icons:instagram" /></a
          >
        </div>
      </div>
      <h4>ALBA ELECTRONIC</h4>
      CALLE AV MIRANDA LOCAL Nº 44 SECTOR CENTRO - MARACAY
      <br />
      0412-5007217
      <h4>FERRETERIA LAS CUMBRES</h4>
      AV FINAL AV.CASANOVA GODOY LOCAL GALPON Nº 12 Z/I METROPLOITANO - SAN JOAQUIN
      <br />
      0412 - 1573724
      <h4>FERREMAT LAS DELICIAS</h4>
      AV SOUBLETTE LOCAL Nº 31 SECTOR LOS OLIVOS NUEVOS - MARACAY
      <br />
      0424-3405251

      <h2>BARINAS</h2>
      <h4>MANGOCENTER</h4>
      AV CUATRICENTENARIA EL CAMBIO - BARINAS
      <br />
      :0424-5088548
      <br />

      <h2>BOLIVAR</h2>
      <h4>FERRETERIA PRINCIPAL PZO</h4>
      CALLE VENTAURI CON CARRERA NEKUIMA EDIF. DON REGALON PISO 1,SECTOR ALTAVISTA
      - CIUDAD GUAYANA.
      <br />
      0414-0940933
      <br />
      <h4>MATERIALES CARONI</h4>
      Av Dalle Costa - Ciudad Guayana
      <br />
      0286-931.1776
      <br />
      <h4>HIERROS SAN FELIX</h4>
      AV ANTONIO CISNEROS ZONA INDUSTRIAL CHIRICA - SAN FELIX
      <br />
      0286-7129900
      <br />
      <h4>Ferremateriales La Fuerte, C.A.</h4>
      Av. Principal local Pb Nro. 1 Sector Castillito - Puerto Ordaz
      <br />
      0414-0959895.
      <br />
      <a href="https://www.instagram.com/lafuerteonline/" target="_blank">
        <Icon class="h-6 text-pink-500" name="simple-icons:instagram" /></a
      >
      <h2>CARABOBO</h2>
      <h4>EL PALACIO DEL FREGADERO, F.P</h4>
      AV ANDRES ELOY BLANCO, SECTOR SANTA CECILIA,C.C TOPAZ - VALENCIA
      <br />
      0424-4112664
      <br />
      <div class="flex flex-row space-x-4">
        <div>
          <h4>Multibrands Latina</h4>
          Av Bolivar Norte Urb. El Recreo calle #158 N97-106 - Valencia
          <br />
          Tlf: (241)824.3051 (424)461.0357 (424)461.0269 (414)496.3969
          <br />
          multibrandslatina.com
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
          <a
            href="https://www.instagram.com/multibrands_latina/"
            target="_blank">
            <Icon class="h-6 text-pink-500" name="simple-icons:instagram" /></a
          >
        </div>
      </div>
      <h4>Casa del Calentador del Centro, C.A.</h4>
      Av. Andrés Eloy Blanco, local No. 112-233 y 112-219, Urb. Agua Blanca. Valencia
      <br />
      (0424) 4041429 - (0241) 8210840 - (0241) 8588458 - (0424) 4024957
      <br />
      casadelcalentadordelcentro@hotmail.com
      <h4>FERREGRIFOS T,G.F, C.A</h4>
      Av. Andrés Eloy Blanco, local No. 112-233 y 112-219, Urb. Agua Blanca. Valencia
      <br />
      (0424) 4041429 - (0241) 8210840 - (0241) 8588458 - (0424) 4024957
      <br />
      <h4>HIDROFUEGO</h4>
      AV ANDRES ELOY BLANCO,LOCAL AGUA BLANCA CC AGUA BLANCA PB LOCAL 13 VALENCIA
      <br />
      TELEFONO: 0241-8576437/8575579 0414-4335568/0424-4301482.
      <br />
      <h4>GRIFOHOGAR NORTE</h4>
      CALLE PPAL C.C EL SAMAN PB LOCAL 6 Y 7 URB STA CECILIA VAELNCIA.
      <br />
      0241-8263954/8264106 0424-4620179
      <br />
      <h4>TODO EN FREGADERO</h4>
      AV ANDRES ELOY BLANCO CON CALLE 121-A, Nº 124-47 C.C STA CECILIA VALENCIA.
      <br />
      TELEFONO:0241-8248376/8268302 WHATSAPP: 0424-4653100
      <br />
      <h4>GRUPO ISO HOME</h4>
      LOS GUAYOS C.C TRAKI LOCAL L-20 SECTOR - GUACARA
      <br />
      0412-2205598
      <br />
      <h4>MAXIFER DE VENEZUELA</h4>
      AV DON JULIO CENTENO C/C CALLE SAN VICENTE LOCAL PARCELA Nº 2-1-A URB SAN ANTONIO
      - VALENCIA.
      <br />
      0424-4362917
      <br />

      <h2>FALCÓN</h2>
      <h4>COSEIMPA CORO</h4>
      AV INTERCOMUNAL CORO LA VELA EDIF COSEIMPA PISO 1 SECTOR SABANA LARGA - CORO
      <br />
      0424-6729724/0424-6144909
      <h4>COSEIMPA</h4>
      AV INTERCOMUNAL ALI PRIMERA ESQ . C/CALIFORNIA SECTOR CREOLANDIA - JUDIBANA
      <br />
      0412-4096352/04146479255

      <h2>LARA</h2>
      <h4>FERRETERIA EL RELAMPAGO</h4>
      CALLE 51 CON CARRERA 22 LOCAL Nº 22-6 SECTOR OESTE- BARQUISIMETO
      <br />
      0424-5601881/0251-4463195
      <h4>FERRETERIA VARELA</h4>
      CALLE LIBERTADOR EDIF BURATE 2 PISO PB SECTOR - CABUDARE
      <br />
      0414-0739566
      <h4>Ferreteria Camila, c.a</h4>
      Calle Juan de Dios Ponte con Calle La Luz, (diagonal al Bco. Provincial). -
      Cabudare
      <br />
      0251-2620676/0424-5216125

      <h2>MIRANDA</h2>
      <h2>Los Teques / San Antonio</h2>
      <h4>Ferreteria Los Castores</h4>
      Av. Perimetral, C.C. Los Altos, Local A-2.C. San Antonio de los Altos
      <br />
      0212- 3714779 / 3713561.
      <br />
      <h4>TUBELEC, c.a</h4>
      A 50 mts de la Pza. Bolivar. San Antonio de Los Altos.
      <br />
      0212- 3720078 / 3720371.
      <br />
      <h4>FERREALTO</h4>
      CALLE ECTOR LOS BUDARES CC MONTE BELLO PLAZA PB LOCAL 7,8,Y 9 - CARRIZAL
      <br />
      0414-3788109
      <h4>FERRE CASTRO</h4>
      CALLE LAS MINAS,PB URB EL PICACHO - SAN ANTONIO DE LOS ALTOS
      <br />
      0212-3710511/0414-3113125
      <h4>FERREMATERIALES DATE SAN ANTONIO</h4>
      CTRA SAN ANTONIO-SAN DIEGO Nº CM-7176 LOCAL PARCELA Nº A URB LAS POLONIAS -
      SAN ANTONIO DE LOS ALTOS
      <br />
      0212-3722260/0414-2499824
      <h4>FERRETERIA AKIE 2022</h4>
      CALLE ARISMENDI Y NEGRO PRIMERO EDIF STOLAY PB LOCAL Y-J SECTOR EL LLANO -
      LOS TEQUES
      <br />
      0414-2833358
      <h4>FERRETERIA LA CALIZA</h4>
      AV EL LAGO CC COLINAS DE CARRRIZAL NIVEL PB LOCAL 1 Y 2 URB - CARRIZAL
      <br />
      0212-3834545
      <h4>FERRETERIA MONTES VERDES</h4>
      CALLE ROSCIO LOCAL Nº 62 SECTOR EL RINCON - LOS TEQUES
      <br />
      0212-3226036/0212-3232034
      <h4>FERRO-TOOL</h4>
      AV PRINCIPAL FRANCISCO LAS MINAS,Z/I LAS MINAS GALPON N-2 SAN ANTONIO DE LOS
      ALTOS.
      <br />
      0412-6837229
      <h4>PINTURAS DE AUTOMOVILES AUTOPIN</h4>
      AV BICENTENARIA LOCAL FRENTE AL ANTIGUO DEPOSITO LA POLAR SECTOR EL TAMBOR
      - LOS TEQUES
      <br />
      0414-1351522
      <h4>CENTRO FERRETERO FAZZI</h4>
      CTRA PANAMERICANA KM 25 EDIF DON ANGELO PISO 1 LOCAL PB SECTOR EL LLANO - LOS
      TEQUES
      <br />
      212-3224950/3217479 WHATSAPP: 0412-7399467.
      <h2>Guarenas / Guatire</h2>
      <h4>Pall Ferreteria</h4>
      Av. Intercomunal Guarenas Guatire, parcela nro. LP1, (Diagonal al Buena Ventura).
      <br />
      Guarenas.
      <br />
      0212- 3811445 / 3810291.
      <h2>MONAGAS</h2>
      <h4>FERREHOGAR LA CASCADA</h4>
      AV ALIRIO UGARTE PELAYO LOCAL Nº S/N SECTOR BAJO GUARAPICHE - MATURIN
      <br />
      0424-6632144
      <br />
      <h2>Charallave / Valle del Tuy</h2>
      <h4>COMERCIAL TITANIC CENTER</h4>
      AV. BOLIVAR, Charallave 
      <br />
      0239-2482222    2486345
      <br />

      <h2>NUEVA ESPARTA</h2>
      <h4>FERREMAR PAMPATAR</h4>
      AV ALDONZA MANRIQUE CASA Nº -4 URB PLAYAS DEL ANGEL - PAMPATAR
      <br />
      0414-9816699 / 0424-8050366
      <br />
      <h4>Reprencentaciones La Fragata, C.A.</h4>
      Av. Paseo Cultura Ramon Vasquez Brito, CC Boulevard Local S-4 - Porlamar
      <br />
      0412-0949396 0295-2648911 2638553
      <br />
      <h4>ELEKA, C.A</h4>
      Av 31 De Julio Edf . IACA Suites, Pb Guatamare - El Valle Del Espiritu Santo
      <br />
      0424-8625302/0414-7934801 0295-2870668
      <h4>COMERCIAL ALTAGRACIA</h4>
      CALLE ALTAGRACIA EDIF FINA PISO PB LOCAL S/N SECTOR ALTAGRACIA - Juangriego
      <br />
      0295-2356311 / 0416-6962382 / 0412-0924296

      <h2>SUCRE</h2>
      <h4>FERRELECTRICOS ALTO VOLTAJE</h4>
      AV. ARISTIDES ROJAS,SECTOR EL INDIO (FTE A CERAMIHOGAR) - CUMANA
      <br />
      0412-0840944
      <br />

      <h2>TRUJILLO</h2>
      <h4>MERCANTIL SURAMERICANA</h4>
      AV 134 ENTRE CALLE 9 Y 10 CASA Nº 9-50 SECTOR CENTRO - VALERA
      <br />
      0412-1604604
      <br />

      <h2>VARGAS</h2>
      <h4>FERRETERIA IP-5</h4>
      AV. URB PALMAR ESTE,BLRD MONTECARLO ENTRE AV LA COSTANERA Y AV LA PLAYA - La
      Guaira
      <br />
      0212-6309101
      <br />

      <h2>ZULIA</h2>
      <div class="flex flex-row space-x-4">
        <div>
          <h4>Instaveca</h4>
          Av 79 Casa Nro 93-48 Urb Santa Fe I - Maracaibo
          <br />
          0414-670.9332
        </div>
        <div class="flex flex-col mr-2 mt-8">
          <img src="/images/centroautorizado.jpg" alt="Centro Autorizado" />
        </div>
      </div>

      <h4>Ferreteria Alpeca, C.A</h4>
      Calle 58 Entre Av 2 y 1 Local NRO.2-75 Barrio 18 De Octubre - Maracaibo.
      <br />
      0261-7430273 0261-7421980
      <h4>FERRETERIA RAMIRO</h4>
      AV 1A ENTRE CALLES 53 Y 54 CASA Nº 53-79 SECTOR 18 DE OCTUBRE SECTOR PUEBLO
      APARTE - MARACAIBO
      <br />
      424-874.9332
    </div>
    <div id="contact">
      <Contact />
    </div>
  </Container>
</Layout>
