---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contactanos</Fragment>
      <Fragment slot="desc">Estamos aqui para ayudar.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Contacta a Termotronic
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Tienes algo que decir? Estamos aqui para ayudar. Llena el formulario,
          manda un email o llama a nuestro telefono.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Caracas 1071 - Venezuela
              <br />
              Piso 1 - Edificio Toronto - 2da. Calle de Los Ruices</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:ventas@termotronic.com"
              >ruices@termotronic.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              >+58 (212)239.6165 - (212)237.4551 - (212)237.5083</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
