---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import FAQ from "@components/faq";
---

<Layout
  title="Termotronic - Calentador de agua sin tanque"
  description="Termotronic y CBX - Calentador Eléctrico de Agua sin Tanque. Agua Caliente sin límite. Ahorro de espacio. Ahorro de Energía. Agua caliente instantánea">
  <Container>
    <Hero />
    <div class="border-t border-gray-400 mb-12 pt-16"></div>
    <Features />
    <Cta />
  </Container>
</Layout>
