---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Información Termotronic y CBX" description="Descubra que es un calentador Termotronic y como funciona">
  <Container>
    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <h2>¿Qué es Termotronic?</h2>
      Termotronic es un calentador de agua sin tanque y activado por flujo. Este
      sistema le brinda básicamente cuatro ventajas sobre un calentador tradicional:
      <br />
      <br />
      1 Al no poseer tanque las dimensiones se reducen a escasos 33 centímetros de
      alto por 18 centímetros de ancho y sólo 9 de profundidad. Este reducido tamaño
      le permite ahorrar una gran cantidad de espacio.
      <img src="/images/CBXEspacio.jpg" alt="Ahorro de Especio" class="rounded-xl border p-2 border-black shadow-2xl" />
      2 El Termotronic permanece apagado mientras las llaves de agua caliente estén
      cerradas y se activa automáticamente cuando se abre una llave; inmediatamente
      comienza a calentar el agua que está circulando por dentro él. Para lograr
      esto tiene dos resistencias de mucha más potencia que un calentador tradicional.
      Este sistema le ofrece al usuario agua caliente instantánea. Si por razones
      de racionamiento usted se ve obligado a desenchufar su calentador tradicional,
      al regresar el agua deberá esperar a que se caliente el agua del tanque. Con
      el Termotronic al regresar el agua simplemente se abre una llave y se disfruta
      de agua caliente sin tener que esperar y sin tener la necesidad de enchufarlo
      o desenchufarlo.
      <img src="/images/TermotronicLimites.jpg" alt="Calentador sin tanque" class="rounded-xl border p-2 border-black shadow-2xl" />
      3 Termotronic calienta el agua que circula por dentro de él y por esta razón
      nunca se le acaba el agua caliente, disfrutamos entonces de agua caliente ilimitada.
      Se pueden bañar cinco, diez o más personas seguidas, llenar una bañera o un
      jacuzzi, lavar la ropa y nunca faltará agua caliente.
      <img src="/images/TermotronicLimites2.jpg" alt="Ahorro de energía" class="rounded-xl border p-2 border-black shadow-2xl" />
      4 Y por último la razón más lógica para instalar Termotronic en el lugar donde
      estaba el calentador tradicional ... el ahorro de energía ... por estar encendido
      solo cuando realmente se está utilizado agua caliente el gasto de electricidad
      para calentar agua se ve reducido hasta en un 60%. Y en la mayoría de los casos
      el costo del calentador se amortiza con el ahorro de electricidad de un año.
      <img src="/images/TermotronicAhorre.jpg" alt="Ahorro de energía" class="rounded-xl border p-2 border-black shadow-2xl" />
      Termotronic, fabricado con los componentes de la más alta calidad
      existentes en el mercado, siguiendo los más estrictos controles de calidad
      en cada una de sus cuatro etapas de ensamblaje, contando con excelente
      centro de servicio, asegura a sus clientes años de disfrute de un sistema
      seguro y eficiente para calentar agua.
      <br />
      <h2>¿Termotronic o CBX?</h2>
      CBX es la versión económica del Termotronic.
      <br />
      <img src="/images/CBXEconomicoBanera.jpg" alt="Termotronic" class="rounded-xl border p-2 border-black shadow-2xl" />
      Termotronic tiene sensor de flujo, tarjeta electrónica. Esto le permite controlar
      la temperatura de salida con precisión.
      <br />
      <br />
      CBX tiene control de potencia de 3 pocisiones.
      <br />
      Se puede esperar mayor confiabilidad y durabilidad de un Termotronic.
      <br />
      Ambos tienen la misma potencia y la misma garantía.
      <br />
      <div class="border-t border-gray-400 mt-12"></div>
      <h2>¿Cómo funciona un calentador tradicional de tanque?</h2>
      <br />
      El calentador tradicional tiene un depósito donde acumula el agua y la calienta
      poco a poco y cuando alcanza la temperatura establecida en su termostato se
      apaga. Este proceso puede durar unos 90 minutos. Después, durante el transcurso
      del día, se prende y apaga para mantener el agua de su tanque caliente, ya
      sea porque se abrió una llave de agua caliente o porque el agua acumulada se
      enfrió. De esta forma un calentador de tanque desperdicia energía calentando
      un agua que probablemente nadie utilice.
    </div>
  </Container>
</Layout>
