---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Termotronic - Quiénes Somos" description="Misión y Valores de Termotronic Calentador Eléctrico de Agua sin Tanque">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Bienvenidos a Industrias termotronic.
      </h1>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      En Industrias Termotronic, somos líderes en la fabricación de calentadores
      de agua de alta calidad. Con más de 30 años de experiencia en la
      industria, nos dedicamos a proporcionar soluciones de calentamiento
      eficientes, seguras y duraderas para hogares y negocios en toda Venezuela.
      <br />
      <br />
      <p class="font-bold">Nuestra Misión</p>
      Nuestra misión es mejorar la comodidad y la calidad de vida de nuestros clientes
      a través de productos innovadores y sostenibles. Nos esforzamos por ofrecer
      calentadores de agua que no solo cumplen con los más altos estándares de calidad,
      sino que también son amigables con el medio ambiente y económicamente accesibles.
      <br />
      <br />
      <p class="font-bold">Nuestra Visión</p>
      Aspiramos a ser la marca de confianza para soluciones de calentamiento de agua
      en Venezuela, reconocidos por nuestra innovación, servicio al cliente excepcional
      y compromiso con la sostenibilidad.
      <br />
      <br />
      <p class="font-bold">Nuestros Valores</p>
      Innovación: Constantemente buscamos nuevas tecnologías y métodos para mejorar
      la eficiencia y la efectividad de nuestros productos.
      <br />
      Calidad: Cada calentador de agua que fabricamos pasa por rigurosas pruebas
      de calidad para garantizar su durabilidad y rendimiento.
      <br />
      Sostenibilidad: Nos comprometemos a desarrollar productos que minimicen el
      impacto ambiental y promuevan el uso eficiente de los recursos.
      <br />
      Servicio al Cliente: Creemos en la importancia de construir relaciones duraderas
      con nuestros clientes, ofreciendo soporte y atención personalizada en todo
      momento.
      <br />
      <br />
      <p class="font-bold">Nuestra Historia</p>
      Fundada en 1994, Industrias Termotronic comenzó como una pequeña empresa con
      una visión clara: proporcionar soluciones de calentamiento de agua fiables
      y accesibles. A lo largo de los años, hemos crecido y evolucionado, adoptando
      nuevas tecnologías y expandiendo nuestra línea de productos para satisfacer
      las cambiantes necesidades de nuestros clientes.
      <br />
      <br />
      <p class="font-bold">Innovación y Tecnología</p>
      En Industrias Termotronic, la innovación está en el corazón de todo lo que
      hacemos. Nuestros equipos de investigación y desarrollo trabajan incansablemente
      para diseñar y fabricar calentadores de agua que utilizan las últimas tecnologías
      para mejorar la eficiencia energética y reducir los costos operativos.
      <br />
      <br />
      <p class="font-bold">Compromiso con la Calidad</p>
      Cada uno de nuestros calentadores de agua se fabrica con los mejores materiales
      y pasa por un riguroso control de calidad. Estamos orgullosos de ofrecer productos
      que no solo cumplen con los estándares nacionales e internacionales, sino que
      también superan las expectativas de nuestros clientes.
      <br />
      <br />
      <p class="font-bold">Contacto</p>
      Nos encantaría saber de ti. Para más información sobre nuestros productos y
      servicios, o para hablar con uno de nuestros representantes, por favor, <a
        href="/aliados#contact">contáctanos aquí.</a
      >
    </div>
  </Container>
</Layout>
