---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Servicios">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Garantías y Servicios para Termotronic y CBX.
      </h1>
      <div class="mx-auto mt-2 max-w-3xl">
        <br />
        Sus equipos Termotronic y CBX están amparados por una red de Centros de Servicio
        autorizados. Ellos cuentan con un amplio stock de repuestos y personal técnico
        altamente calificado.
      </div>
    </div>

    <div class="mx-auto max-w-3xl">
      <br />
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Centros de Servicio Autorizados
      </h1>
      <br />
      <p class="font-bold text-xl">Gran Caracas</p>
      <p class="font-bold">Comercial JAB</p>
      Calle María Auxiliadora, Edificio Residencias RITA
      <br />
      PB Local C14
      <br />
      Caracas Edo Miranda
      <br />
      212-2326160
      <br />
      @SomosJAB

      <br />
      <br />

      <p class="font-bold">Termocenter</p>
      Centro Comercial Santa FE
      <br />
      Caracas Edo Miranda
      <br />
      0414-778.4090
      <br />
      https://linktr.ee/termocenter.ve

      <br />
      <br />

      <p class="font-bold text-xl">Valencia</p>
      <p class="font-bold">Multibrands Latina Valencia</p>
      Av Bolivar Norte Urb. El Recreo calle #158 N97-106
      <br />
      Valencia Edo Carabobo
      <br />
      0424-461.0357 0424-461.0269
      <br />
      http://www.multibrandslatina.com/

      <br />
      <br />

      <p class="font-bold text-xl">Maracay</p>
      <p class="font-bold">Multibrands Latina Maracay</p>
      Av las Delicias, Centro Empresarial Europa local PB30
      <br />
      Maracay Edo Aragua
      <br />
      0424-4090080 0414-4964031
      <br />
      http://www.multibrandslatina.com/

      <br />
      <br />

      <p class="font-bold text-xl">Barcelona</p>
      <p class="font-bold">Monigas Oriente</p>
      Av Costanera - C.C. Camino Real
      <br />
      PB - Local 8 - Barcelona
      <br />
      424-874.9332
      <br />
      @monigas
      <br />
      <br />
      <br />
      <h2 class="text-2xl lg:text-2xl lg:tracking-tight">
        IMPORTANTE: Si su equipo está en garantía, recuerde tener a mano su
        Talón de Garantía y su factura de compra para optar por ella.
      </h2>
    </div>
  </Container>
</Layout>
