---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Green">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Garantías y Servicios para Termotronic y CBX.
      </h1>
      <h2 class="text-2xl lg:text-2xl lg:tracking-tight">
        <br />
        Sus equipos Termotronic y CBX están amparados por una red de Centros de Servicio
        autorizados. Ellos cuentan con un amplio stock de repuestos y personal técnico
        altamente calificado.
        <br />
        <br />
        IMPORTANTE: Si su equipo está en garantía, recuerde tener a mano su Talón
        de Garantía y su factura de compra para optar por ella.
      </h2>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      CENTROS DE SERVICIO AUTORIZADOS
      <br />
      <br />
      Gran Caracas
      <br />
      - Comercial JAB
      <br />
      Calle María Auxiliadora, Edificio Residencias RITA
      <br />
      PB Local C14
      <br />
      Caracas Edo Miranda
      <br />
      212-2326160
      <br />
      @SomosJAB

      <br />
      <br />

      - Termocenter
      <br />
      Centro Comercial Santa FE
      <br />
      Caracas Edo Miranda
      <br />
      0414-778.4090
      <br />
      https://linktr.ee/termocenter.ve

      <br />
      <br />

      Valencia
      <br />
      - Multibrands Latina Valencia
      <br />
      Av Bolivar Norte Urb. El Recreo calle #158 N97-106
      <br />
      Valencia Edo Carabobo
      <br />
      0424-461.0357 0424-461.0269
      <br />
      http://www.multibrandslatina.com/

      <br />
      <br />

      Maracay
      <br />
      - Multibrands Latina Maracay
      <br />
      Av las Delicias, Centro Empresarial Europa local PB30
      <br />
      Maracay Edo Aragua
      <br />
      0424-4090080 0414-4964031
      <br />
      http://www.multibrandslatina.com/

      <br />
      <br />

      Barcelona
      <br />
      - Monigas Oriente
      <br />
      Av Costanera - C.C. Camino Real
      <br />
      PB - Local 8 - Barcelona
      <br />
      424-874.9332
      <br />
      @monigas
    </div>
  </Container>
</Layout>
