---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import VideoPlayer from "@components/videoplayer";
---

<Layout
  title="Calentador ecológico de agua sin tanque"
  description="Termotronic y CBX - Comprometidos con el planeta ofrcemos Calentador Eléctrico de Agua sin Tanque. Agua Caliente sin límite. Ahorro de espacio. Ahorro de Energía. Agua caliente instantánea">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-green-700">
        Comprometidos con el planeta.
      </h1>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      Desde el inicio del diseño del Termotronic tenemos dos cosas en mente: una
      es dejar la mínima huella de carbón en el ambiente durante la fabricación
      y dos que nuestro sistema sea 100% eficiente a la hora de convertir
      electricidad en agua caliente.
      <br />
      <br />
      A lo largo de los procesos de fabricación verificamos uso eficiente de energía
      y eliminación de materiales contaminantes de manera responsable. Selección
      de materiales reciclables: un 92% de toda la materia prima usada para fabricar
      un Termotronic es reciclable.
      <br />
      <br />
      Riguroso control de los retazos fabriles: en todo proceso de fabricación existe
      una merma. En Termotronic somos rigurosos con la separación y clasificación
      de estos materiales que luego enviamos a centros a de acopio, donde se refinan
      y se convierten nuevamente en materiales para reutilizar.
      <br />
      <br />
      Cómo nuestro producto te ayuda a reducir tu huella de carbono: menor consumo
      eléctrico, mayor impacto positivo. Estamos comprometidos con el uso eficiente
      de la electricidad, cada vatio consumido va directa e inmediatamente a calentar
      el agua. Nada de tanques acumulando agua que pierde calor.
      <br />
      <br />
      Por un futuro sustentable: elige productos que combinan innovación con cuidado
      ambiental.
    </div>

      <div class="not-prose my-8 flex justify-center">
        <VideoPlayer 
          videoSrc={{
            desktop: "https://media.termotronic.com/Redes/2025/Videos/Nacional%2DHor%5F1080p%5FWhatsApp.mp4",
            mobile: "https://media.termotronic.com/Redes/2025/Videos/Nacional%2DVer%5F1080p%5FWhatsApp.mp4"
          }}
          showAsButton={true}
          buttonText="Orgullo Nacional"
          client:load 
        />
      </div>
  </Container>
</Layout>
