---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Container>
  <Sectionhead>
    <Fragment slot="title">Contáctenos</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>

  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
    <div>
      <h2 class="font-medium text-2xl text-gray-800">
        Para contactar a Termotronic
      </h2>
      <div class="mt-5">
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
          <span>Caracas 1071 - Venezuela </span>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
            href="mailto:ventas@termotronic.com">ruices@termotronic.com</a
          >
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
            >+58 (212)239.6165 - (212)237.4551 - (212)237.5083</a
          >
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <a href="https://www.instagram.com/industriastermotronics" target="_blank" rel="noopener noreferrer">
          <Icon class="text-pink-400 w-4 h-4" name="uil:instagram" /><a>industriastermotronic</a>
        </a>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <a href="https://wa.me/584241632937" target="_blank" rel="noopener noreferrer">
            <Icon class="text-green-400 w-4 h-4" name="uil:whatsapp" /><a>Termotronic</a>
          </a>
        </div>
      </div>
    </div>
    <div>
      <Contactform />
    </div>
  </div>
</Container>
