---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-data",
  },
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Lorem ipsum",
    description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore alias nulla eligendi at non, sapiente ut iure expedita velit distinctio.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0 max-w-screen-2xl mx-auto">
  <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight">
    Todo lo que necesitas saber de un termotronic.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Fabricado con los componentes de la mas alta calidad existentes en el
    mercado, siguiendo los mas estrictos controles de calidad en cada una de sus
    cuatro etapas de ensamblaje.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 max-w-screen-2xl mx-auto">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        {/* bg-gray-100 rounded-3xl p-4 md:py-10 mt-10  */}
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
