---
import VideoPlayer from "./videoplayer";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 max-w-screen-2xl mx-auto">
  <div>
    <h1
      class="text-3xl lg:text-3xl font-bold lg:tracking-tight xl:tracking-tighter">
      Calentador Eléctrico de Agua sin Tanque.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Los calentadores de agua TERMOTRONIC combinan la más alta tecnología con
      un novedoso diseño para brindarle a sus usuarios años de disfrute de un
      sistema eficiente, ecológico y confiable de calentar agua.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/information"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="mdi:information" />

        Mas Información
      </Link>
    </div>
  </div>
  <div class="py-6 mt-8 md:order-1 md:block">
    <VideoPlayer client:load />
  </div>
</main>