---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <!-- <h2 class="text-center text-slate-500">Nuestras Redes.</h2> -->
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon href="https://www.instagram.com/industriastermotronic" class="h-4 md:h-6 text-slate-500" name="simple-icons:instagram" />
    <Icon href="#" class="h-4 md:h-6 text-slate-500" name="simple-icons:whatsapp" />
    <Icon href="#" class="h-4 md:h-6 text-slate-500" name="simple-icons:facebook" />
    <Icon href="#" class="h-4 md:h-6 text-slate-500" name="simple-icons:linkedin" />
    <Icon href="#" class="h-4 md:h-6 text-slate-500" name="simple-icons:twitter" />
  </div>
</div>