---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <!-- <h2 class="text-center text-slate-500">Nuestras Redes.</h2> -->
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a
      href="https://www.instagram.com/industriastermotronic"
      target="_blank"
      rel="noopener noreferrer">
      <Icon class="h-4 md:h-6 text-pink-500" name="simple-icons:instagram" />
    </a>
    <a href="https://wa.me/584241632937" target="_blank" rel="noopener noreferrer">
      <Icon
        class="h-4 md:h-6 text-green-500"
        name="simple-icons:whatsapp"
      />
    </a>
    <a href="https://www.facebook.com/Termotronicoficial" target="_blank" rel="noopener noreferrer">
      <Icon
        class="h-4 md:h-6 text-blue-500"
        name="simple-icons:facebook"
      />
    </a>
    <a href="https://www.youtube.com/@Industrias.Termotronic" target="_blank" rel="noopener noreferrer">
      <Icon
        href="#"
        class="h-4 md:h-6 text-red-500"
        name="simple-icons:youtube"
      />
    </a>
    <a
      href="https://x.com/termotronic"
      target="_blank"
      rel="noopener noreferrer">
      <Icon
        href="#"
        class="h-4 md:h-6 text-blue-500"
        name="simple-icons:twitter"
      />
    </a>
  </div>
</div>
