---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="CBX">
  <Container>
    <Sectionhead>
      <Fragment slot="title">CBX</Fragment>
      <Fragment slot="desc">Calentador Eléctrico de Agua sin Tanque.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Mejorando el mundo con CBX.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ullam,
        repellat beatae culpa quia consequatur maiores unde corporis. Ullam ut
        voluptas tempora dicta consectetur mollitia earum odio porro
        voluptatibus odit?
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <div class="group">
        <div class="w-full aspect-square">
          <Picture
            src={"https://media.discordapp.net/attachments/1150636258075353099/1234194323063443526/WhatsApp_Image_2024-04-28_at_09.04.50_fae5688f.jpg?ex=66312a08&is=662fd888&hm=8ba7e87c5585aa08958ca93e3e917c484c3dbb87542f4d8e7cc7886af1d95261&=&format=webp"}
            alt={"uh"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
          />
        </div>

        <div class="mt-4 text-center">
          <h2 class="text-lg text-gray-800">foto</h2>
          <h3 class="text-sm text-slate-500">super texto cool</h3>
        </div>
      </div>
    </div>
  </Container>
</Layout>
