---
import Layout from "@layouts/ProductLayout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TabsComponent from "@components/navbar/tab";
---

<Layout title="Termotronic">
  <Container>
    <Sectionhead>
      <p slot="title" class="font-bold text-2xl lg:text-4xl text-black flex justify-items-start items-start">Termotronic</p>
      <p slot="desc" class="font-bold text-xl lg:text-2xl text-gray-800 flex justify-items-start items-start">Calentador Eléctrico de Agua sin Tanque.</p>
    </Sectionhead>

    <TabsComponent client:load />
  </Container>
</Layout>
