---
import Container from "@components/container.astro";
import Layout from "./Layout.astro";
import AnimatedBackground from "@pages/products/termotronic";

const { title } = Astro.props;
---

<Layout title={title}>
  <Container class="relative z-20">
    <AnimatedBackground client:load />
    <div class="absolute inset-0 bg-black bg-opacity-50 z-10">
      <slot />
    </div>
  </Container>
</Layout>
