---
import Container from "@components/container.astro";
import Layout from "./Layout.astro";
import AnimatedBackground from "@pages/products/termotronic";

const { title } = Astro.props;
---

<Layout title={title}>
  <Container>
    <AnimatedBackground client:load />
    <div class="inset-0">
      <slot />
    </div>
  </Container>
</Layout>
