---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  outline: "border-2 border-brand-600 hover:bg-brand-50 text-brand-600",
  primary:
    "bg-gradient-to-r from-brand-600 to-brand-700 text-white hover:from-brand-700 hover:to-brand-800 shadow-medium hover:shadow-large border-2 border-transparent",
};
---

<button
  {...rest}
  class:list={[
    "rounded-lg text-center transition-all duration-300 focus-visible:ring-2 ring-offset-2 ring-brand-200 hover:scale-105 font-semibold",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
